Repository CNES/dem4water: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
exclude: '^deprecated/'

repos:
- repo: local
  hooks:
  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]
    exclude: setup.py

  - id: pylint
    name: pylint
    stages: [commit]
    entry: pylint
    language: system
    types: [python]
    args:
      [--rcfile, .pylintrc, --exit-zero]

#  - id: pytest-cov
#    name: pytest-cov
#    stages: [push]
#    language: system
#    entry: pytest --show-capture=no --cov-report html --cov-report term-missing --cov --cov-fail-under=70
#    types: [python]
#    pass_filenames: false

Update setup.py
  setup.py
Due: isort, black, pylint

Update demo_colab.ipynb
  notebook/demo_colab.ipynb
Due: none

ENH: extract DAM altitude from DEM
  dem4water/find_cutline_and_pdb.py
Due: isort, black, flake8, pylint

ENH: allow to extract dam elev from DEM
  dem4water/find_cutline_and_pdb.py
  dem4water/tools/generate_list_from_DB.py
Due: isort, black, flake8, pylint

ENH: ensure that point are different in range
  dem4water/plot_lib.py
Due: isort, black, flake8, pylint
